name: workflow-test

on:
  push:
#    paths:
#    - aaa/**
    branches:
    - master

jobs:
  job1:
    runs-on: ubuntu-latest
    name: Run with docker Alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: step 1
        uses: docker://alpine:3.8
        with:
          args: ls -la
  job2:
    runs-on: ubuntu-latest
    name: native runner test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: step 1
        run: |
          echo "This is step 1"
          pwd
          ls -l
      - name: step 2
        run: |
          echo "This is step 2"
      - name: Create artifacts
        run: |
          mkdir dist
          echo "This is an artifact" > dist/a
      - name: Archive artifacts
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist
      - name: Notify slack
        uses: rtCamp/action-slack-notify@v2.0.2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: notify
          SLACK_MESSAGE: 'POST from GitHub Actions'
  job3:
    runs-on: ubuntu-latest
    name: Run with Dockerfile
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: step 1
        uses: ./
        id: hello
