name: workflow-test

on:
  push:
    #paths:
    #- aaa/**
    branches:
    - master

jobs:
  job1:
    runs-on: ubuntu-latest
    name: Run with docker Alpine
    steps:
      - name: step 1
        uses: docker://alpine:3.8
        with:
          args: uname -a
  job2:
    runs-on: ubuntu-latest
    name: native runner test
    steps:
      - name: step 1
        run: |
          echo "This is step 1"
      - name: step 2
        run: |
          echo "This is step 2"
      - name: Create artifacts
        run: |
          echo "This is an artifact" > dist/a
      - name: Archive artifacts
        uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist
